form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.backArrow {
    background-color: transparent;

}
.logoHolder {
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 0.1cm;
    gap: 0.3cm;
    width: fit-content;
    border-top-left-radius: 1cm;
    border-top-right-radius: 1cm;
    border-bottom-right-radius: 1cm;
  }
  .lg1 {
    border-radius: 100%;
    background-color: red;
    width: 0.3cm;
    height: 0.3cm;
  }
  .lg2 {
    border-radius: 100%;
    background-color: black;
    width: 0.3cm;
    height: 0.3cm;
  }
  .lg3 {
    border-radius: 100%;
    background-color: green;
    width: 0.3cm;
    height: 0.3cm;
  }
.wsBody {
    display: flex;
    flex-wrap: wrap;
    padding: 0cm;
    margin: 0cm;
    border-style: none;
    border-radius: 0.4cm;
    width: fit-content;
    position: relative;
    flex-direction: column;
    left: 0cm;
    z-index: 1;
}
.topBar {
 display: flex;
  position: relative;
  color: mintcream;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  height: 0.7cm;
  font-size: x-large;
  text-align: center;
  width:auto;
}
.wsContent{
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1cm;
    gap: 0.1cm;
    background-color: rgb(71 71 71);
    color: white;
    border-bottom-right-radius: 0.4cm;
    border-bottom-left-radius: 0.4cm;
    border-width: 0.01cm;
    border-style: none;
}
.stackHeader {
    display: flex;
    position: relative;
    top: 0;
    width:-webkit-fill-available;
    height: 40px;
}
.wsBodyStackInnerContent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: -webkit-fill-available ;
    margin: 1cm;
    left: 0cm;
    height: fit-content;
    overflow-y: hidden;
    overflow-x: hidden;
}
.infoForm {
    display: flex;
    position: relative;
    flex-direction: column;
    color: mintcream;
    flex-wrap: wrap;
    gap: 0cm;
    padding: 0cm;
    border-style: none;
    border-width: 0.01cm;
    border-radius: 0.01cm;
}
.wsInputsForm {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0cm;
    padding: 0cm;
    border-style: none;
    background-color: white;
    border-width: 0.01cm;
    border-radius: 0.3cm;
}
.constrolsHolder {
    display: flex;
    position: relative;
    flex-direction: row;
}
input {
    display: flex;
    position: relative;
    width: auto;
    height: 0.9cm;
    border-radius: 0.1cm;
    border-width: 0.01cm;
    padding: 0cm;
    border-style: solid;
    border-width: 0.02cm;
    font-size: larger;
    font-weight: 200;
    text-align: center;
    justify-content: center;
    
}
input:hover{
    border-color: green;
}
input:active{
    border-color: red;
}
input::placeholder{
    text-align: center;
}
input:focus{
    border-color: green;
}
.nextBtn {
    display: flex;
    background-color: transparent;
    border-style: solid;
    border-width: 0.05cm;
    border-radius: 0.2cm;
    border-color: transparent;
    color:rgb(255, 255, 255);
    width: -webkit-fill-available;
    width: fit-content;
    height: 0.7cm;
    padding: 0.5cm;
    border-radius: 0.2cm;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out;
    
    
}
.nextBtn:hover {
    cursor: pointer;
    color: lightgreen;
    transition: 0.2s ease-in-out;
}


.createAccount {
    background-color: transparent;
    border-style: none;
    border-radius: 0.1cm;
    color:white;
    width: -webkit-fill-available;
    width: fit-content;
    text-align: center;
    height: 0.7cm;
    padding: 0.1cm;
}
.createAccount:hover{
    cursor: pointer;
}

img{
    width: 20px;
    height: 20px;
}
.wsContentMaincontainer{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    flex-direction: row;
    width: auto;
    height: auto;
    gap: 1cm;
    padding: 0cm;
    justify-content: space-between;
    align-items: center;
}
.wsContentControlsHolder{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
button{
    background: forestgreen;
    border-style: none;
    border-radius: 0.1cm;
    width: 4cm;
    height: 0.8cm;
    padding: 0cm;
    color: white;
    font-style: normal;
    font-weight: bolder;
}
button:hover{
    cursor: pointer;
    
}
.wsFooterControls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    color: white;
    background-color: transparent;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 0.5cm;
    padding: 0.1cm;

}
.wsBodyFooter {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: transparent;

    
}
a{
    color: ghostwhite;
    text-decoration: none;
    transition: 0.1s ease-in-out;
}
a:hover{
cursor: pointer;
text-decoration: underline;
transition: 0.1s ease-in-out;
}
.wsLeftControls{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}
.wsRightontrols{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.3cm;
}
.wsNotificationIcon{
    width: 0.7cm;
    height: 0.7cm;
    background: transparent;
    transition: 0.1s ease-in-out;
}
.wsNotificationIconHolder{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border-radius: 0.1cm;
    width: 1cm;
    height: 1cm;
    align-items: center;
    justify-content: center;
    transition: 0.1s ease-in-out;
    filter: invert();
}
.wsNotificationIconHolder:hover {
    cursor: pointer;
    background-color: transparent;
    transition: 0.1s ease-in-out;
    .wsNotificationIcon{
        width: 0.8cm;
        height: 0.8cm;
        transition: 0.1s ease-in-out;
    }
}
.wsQrHolder{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border-radius: 0.1cm;
    width: 1cm;
    height: 1cm;
    align-items: center;
    justify-content: center;
    transition: 0.1s ease-in-out;
}
.wsQrHolderIcon{
    width: 0.7cm;
    height: 0.7cm;
    background: transparent;
    transition: 0.1s ease-in-out;
}
.wsQrHolder:hover {
    cursor: pointer;
    background-color: transparent;
    transition: 0.1s ease-in-out;
    .wsQrHolderIcon{
        width: 0.8cm;
        height: 0.8cm;
        transition: 0.1s ease-in-out;
    }
}
.registrationForm{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #3b3939;
    padding: 1cm;
    border-radius: 0.4cm;
    border-style: none;
    accent-color: green;
    color-scheme: light;
    color: antiquewhite;
}
p{
    color: ghostwhite;
}
.WsNota{
    display: flex;
    position: relative;
    background-color: white;
    width: 10cm;
    height: 0.8cm;
    border-style: none;
    border-radius: 0.3cm;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.wsTopControlsHolder{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}
.wsCustomInput-email{
    display: flex;
    position: relative;
    width: auto;
    height: 0.9cm;
    border-radius: 0.1cm;
    border-width: 0.01cm;
    padding: 0cm;
    border-style: none;
    background-color: transparent;
    font-size: larger;
    font-weight: 200;
    text-align: center;
    justify-content: center;
}
.wsCustomInput-email:focus{
    border-style: none;
    border-width: 0cm;
    border-color: transparent;
    outline: transparent;
}