.wsStack {
position: absolute;
display: flex;
flex-direction: column;
width: 100%;
height: 100%;
background-color: white;
left: 0cm;
top: 0cm;
border-bottom-left-radius: 0.4cm;
border-bottom-right-radius: 0.4cm;
padding: 0cm;
}
.wsStackHeader{
display: flex;
position: relative;
width: 100%;
height: 1cm;
background-color: white;
}
.wsStackBody{
display: flex;
flex-direction: column;
justify-content: space-between;
position: relative;
background-color: white;
width: 100%;
height: 70%;
}
.wsStackTopControls{
    display: flex;
    position: relative;
    background-color: white;
    width: 100%;
    height: 1cm;

}
.wsStackBottomControls{
display: flex;
position: relative;
width: 100%;
background-color: white;
height: 1cm;
}
.wsStackFooter{
display: flex;
position: relative;
background-color: white;
width: 100%;
height: 1cm;
}
.wsHeaderLeftContainer{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: small;
    left: 0;
}
.wsHeaderBackArrowHolder{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    background-color: transparent;
    position: relative;
    transition: 0.2s ease-in-out;
}
.wsHeaderBackArrowHolder:hover{
    cursor: pointer;
    transition: 0.2s ease-in-out;
    .wsHeaderBackArrowImage{
      left: -0.1cm;
    }
}
.wsHeaderBackArrowImage{
    position: relative;
    width: 1cm;
    height: 1cm;
}
.wsStackFooterControls{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
.learnHowToUseThisQr{
    color: black;
    text-decoration: dotted;
}
.learnHowToUseThisQr:hover{
text-decoration: underline;
cursor: pointer;
}
.wsStackContent{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
}
.wsStackLoginQrHolder{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
}
.wsStackLoginQrImg{
    width: 4cm;
    height: 4cm;
    transition: 0.3s ease-in-out;
}
.wsStackLoginQrHolder:hover{
    cursor: pointer;
    transition: 0.3s ease-in-out;
    .wsStackLoginQrImg{
        width: 4.2cm;
        height: 4.2cm;
    }
}
@slideanimate {


}